!  ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
!  ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
!  ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
!  ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
!  ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
!  ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝


!  ░█▀▀░█▀█░█░░░█▀█░█▀▄░█▀▀
!  ░█░░░█░█░█░░░█░█░█▀▄░▀▀█
!  ░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀

! special
*.foreground:   #bfddb2
*.background:   #2a2f33
*.cursorColor:  #bfddb2

! black
*.color0:       #504945
*.color8:       #504945

! red
*.color1:       #ea5252
*.color9:       #ea5252

! green
*.color2:       #ACB765
*.color10:      #ACB765

! yellow
*.color3:       #c1bf89
*.color11:      #c1bf89

! blue
*.color4:       #82abbc
*.color12:      #82abbc

! magenta
*.color5:       #b18a97
*.color13:      #b18a97

! cyan
*.color6:       #88b482
*.color14:      #89b482

! white
*.color7:       #bfddb2
*.color15:      #bfddb2


!  ░█▀▀░█▀█░█▀█░▀█▀░█▀▀
!  ░█▀▀░█░█░█░█░░█░░▀▀█
!  ░▀░░░▀▀▀░▀░▀░░▀░░▀▀▀

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rightScrollBar: rgb
Xft.autohint: true
Xft.hintstyle: full
Xft.lcdfilter: lcddefault

!  ░█░█░█▀▄░█░█░█░█░▀█▀
!  ░█░█░█▀▄░▄▀▄░▀▄▀░░█░
!  ░▀▀▀░▀░▀░▀░▀░░▀░░░▀░

URxvt.cursorBlink: 1
URxvt.font: xft:Cascadia Code:pixelsize=15:antialias=true,xft:Cascadia Code
URxvt.boldFont: xft:Cascadia Code:pixelsize=15:weight=bold:antialias=true,xft:Cascadia Code
URxvt.italicFont: xft:Cascadia Code:pixelsize=15:weight=italic:antialias=true,xft:Cascadia Code

URxvt.lineSpace: 1
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.internalBorder: 32
URxvt.geometry: 70x13
URxvt.thickness: 5
URxvt.titleBar: true
URxvt.intensityStyles: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: true
URxvt.cursorUnderline: true
URxvt*allow_bold: true
URxvt*iso14755: False

URxvt.perl-ext-common: fullscreen,resize-font,matcher,clipboard
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font
!URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.M-c:       perl:clipboard:copy
URxvt*keysym.m-v:       perl:clipboard:paste
URxvt*keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      firefox
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30


!  ░█░█░▀█▀░█▀▀░█▀▄░█▄█
!  ░▄▀▄░░█░░█▀▀░█▀▄░█░█
!  ░▀░▀░░▀░░▀▀▀░▀░▀░▀░▀

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.saveLines: 16384
XTerm.vt100.faceName: xft:NotoSansMono Nerd Font:size=10.5:antialias=true
XTerm.vt100.bellIsUrgent: true
XTerm.letterSpace: 0
XTerm.scaleHeight: 1.01
XTerm.faceSize: 10
XTerm.internalBorder: 32
XTerm.vt100*geometry: 70x13
XTerm.loginShell: true
XTerm.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm.eightBitInput: false

